/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
    height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

body {
    font: 14px "Open Sans", Arial, sans-serif;
    width: 100%;
    color: #3e5879;
    position: relative;
}
.body-pixel{
    background: url(../images/body-pixel.jpg) 0 0 no-repeat;
    width: 100%;
    height: 1749px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -800px;
    opacity: 0.6;
    z-index: 100;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    overflow: hidden;
}
.page{
    position: relative;
}
/* Header
-----------------------------------------------------------------------------*/
.header {
    padding: 24px 0 17px;
    border-bottom: 1px solid #3e5879;
    position: relative;
}
.header:after {
    content: '';
    display: block;
    clear: both;
}
.header-left:after {
    content: '';
    display: block;
    clear: both;
}
.header-right:after {
    content: '';
    display: block;
    clear: both;
}
.header-left {
    float: left;
}
.header-right {
    float: right;
    padding-top: 27px;
}
.logo {
    float: left;
}
.top-menu {
    float: left;
    padding: 23px 35px 0 0;
    position: relative;
}
.top-menu:after{
    content: '';
    display: block;
    clear: both;
}
.top-menu > li{
    float: left;
    margin-left: 48px;
}
.top-menu > li a{
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    color: #3e5879;
    letter-spacing: -2px;
    position: relative;
}
.top-menu > li:hover > a{
    color: #00a8b8;
}
.top-menu > .nav-drop-parent:hover > a:before{
    content: '';
    display: block;
    background: url(../images/arrow-drop-menu.png) 0 0 no-repeat;
    width: 20px;
    height: 13px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    z-index: 11;
    margin-left: -10px;
}
.top-menu > li > a:after{
    background: transparent;
    bottom: -22px;
    content: "";
    display: block;
    height: 27px;
    left: 0;
    position: absolute;
    width: 100%;
}
.top-menu > li:last-child a{
    color: #de7764;
}
.top-menu > li a:hover{
    color: #00a8b8;
}
.top-menu .drop-menu{
    position: absolute;
    top: 66px;
    left: 16px;
    width: 646px;
    border: 3px solid #3e5879;
    z-index: 10;
    background: #fff;
    padding: 2px 0 0 0;
    display: none;
}
.top-menu .drop{
    overflow: hidden;
}
.top-menu .drop .links{
    float: left;
    padding: 18px 20px 0 0;
    width: 170px;
}
.top-menu .drop .links:first-child{
    padding-left: 24px;
}
.top-menu .drop .links:last-child{
    float: right;
    padding: 0 2px 0 0;
    min-width: 240px;
    max-width: 240px;
}
.top-menu .drop .links li{
    margin-top: 10px;
}
.top-menu .drop .links li:first-child{
    margin-top: 0;
}
.top-menu .drop .links:last-child li{
    margin: 0 0 2px 0;
}
.top-menu .drop img{
    display: block;
}
.top-menu .drop .links a{
    text-transform: none;
    font-weight: 400;
    font-size: 14px;
    color: #3e5879;
    letter-spacing: -1px;
    display: block;
}
.top-menu .drop .links a:hover{
    color: #00a8b8;
}
.top-menu .drop h2{
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #3e5879;
    text-transform: uppercase;
    display: block;
    margin-bottom: 16px;
}
.top-menu .bottom-info{
    text-align: center;
    font-size: 18px;
    color: #de7764;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    background: url(../images/menu/bg.jpg) left bottom no-repeat #fff;
    padding: 7px 0;
}
.top-search,
.account,
.mini-cart{
    float: left;
    position: relative;
}
.top-search label,
.account strong,
.mini-cart strong{
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #3e5879;
    text-transform: uppercase;
    letter-spacing: -1px;
    cursor: pointer;
    display: block;
}
.mini-cart{
    margin-left: 42px;
}
.account{
    margin-left: 40px;
}
.account-drop{
    background: #fff;
    border: 3px solid #3e5879;
    position: absolute;
    right: -105px;
    top: 39px;
    width: 306px;
    z-index: 9;
    padding: 11px 0 0;
    display: none;
}
.account-drop.active{
    display: block;
}
.account-drop:before {
    background: url("../images/arrow-drop-menu.png") no-repeat 0 0;
    content: "";
    display: block;
    height: 13px;
    left: 118px;
    position: absolute;
    top: -13px;
    width: 20px;
    z-index: 11;
}
.account-drop a{
    font-size: 14px;
    color: #3e5879;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    text-decoration: none;
    display: block;
    letter-spacing: -1px;
    padding: 7px 25px;
    margin-top: 14px;
    border-top:1px solid #dcdcdc;
}
.account-drop li a{
    padding: 5px 25px;
    margin: 0;
    border: 0;
}
.account-drop a:hover{
    color: #88aea3;
}
.top-search:before,
.account:before,
.mini-cart:before{
    content: '';
    display: block;
    background: transparent;
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: -35px;
}
.account:hover strong,
.mini-cart:hover strong{
    color: #88aea3;
}
.top-search:after{
    content: '';
    display: block;
    background: url(../images/sprites.png) 0 0 no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: -22px;
}
.top-search:hover label{
    color: #88aea3;
    cursor: pointer;
}
.top-search:hover:after{
    background-position: -73px 0;
    cursor: pointer;
}
.top-search .input-box{
    background: #fff;
    border: 3px solid #3e5879;
    /*    height: 58px;*/
    position: absolute;
    right: -210px;
    top: 39px;
    width: 306px;
    z-index: 9;
    display: none;
}
.top-search.focus .input-box{
    display: block;
}
.top-search .input-box:before {
    background: url("../images/arrow-drop-menu.png") no-repeat 0 0;
    content: "";
    display: block;
    height: 13px;
    left: 58px;
    position: absolute;
    top: -13px;
    width: 20px;
    z-index: 11;
}
.top-search input{
    border: 0;
    color: #b4b4b4;
    float: left;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 58px;
    margin-right: 5px;
    padding: 0 10px;
    width: 80%;
    outline: none;
    -webkit-appearance: none;
}
.top-search button{
    background: url("../images/search-icon-big.png") no-repeat 0 0;
    display: block;
    height: 22px;
    width: 22px;
    border: 0;
    cursor: pointer;
    margin: 18px 14px 0 0;
    float: right;
}
.account:after{
    content: '';
    display: block;
    background: url(../images/sprites.png) -16px 0 no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    left: -18px;
    top: 0;
}
.account:hover:after{
    background-position: -90px 0;
}
.mini-cart:after{
    content: '';
    display: block;
    background: url(../images/sprites.png) -30px 0 no-repeat;
    width: 16px;
    height: 18px;
    position: absolute;
    left: -21px;
    top: 0;
}
.mini-cart:hover:after{
    background-position: -106px 0;
}
.mini-cart-drop{
    background: #fff;
    border: 3px solid #3e5879;
    position: absolute;
    right: 0;
    top: 39px;
    width: 306px;
    z-index: 9;
    display: none;
}
.mini-cart-drop.active{
    display: block;
}
.mini-cart-drop:before {
    background: url("../images/arrow-drop-menu.png") no-repeat 0 0;
    content: "";
    display: block;
    height: 13px;
    right: 65px;
    position: absolute;
    top: -13px;
    width: 20px;
    z-index: 11;
}
.cart-header{
    text-align: center;
    font-size: 14px;
    color: #3e5879;
    text-transform: uppercase;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    padding: 13px 0;
    border-bottom: 1px solid #dcdcdc;
}
.cart-body li:after{
    content: '';
    display: block;
    clear: both;
}
.cart-body li{
    padding: 10px 10px 5px;
    border-top:1px solid #dcdcdc;
}
.cart-body li:first-child{
    border-top: 0;
}
.cart-body .img-box{
    float: left;
    position: relative;
    padding: 18px 6px;
    max-width: 92px;
}
.cart-body .img-box .sale{
    position: absolute;
    top: 6px;
    left: 6px;
}
.cart-body .content-box{
    float: left;
    width: 170px;
    padding: 3px 0 0 10px;
    font-size: 12px;
    color: #646464;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
}
.cart-body .title{
    position: relative;
    padding-bottom: 5px;
}
.cart-body .title:after{
    content: '';
    display: block;
    clear: both;
}
.cart-body .title h2{
    float: left;
}
.cart-body .remove-btn{
    background: url(../images/sprites.png) 0 -88px no-repeat;
    width: 12px;
    height: 12px;
    cursor: pointer;
    display: block;
    position: absolute;
    right: 0px;
    top: -1px;
}
.cart-body h2{
    font-size: 14px;
    color: #646464;
    font-weight: 700;
    display: block;
    text-transform: uppercase;
    letter-spacing: -1px;
}
.cart-body h3{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -1px;
    display: block;
    padding-bottom: 12px;
}
.cart-body dl:after{
    content: '';
    display: block;
    clear: both;
}
.cart-body dt{
    float: left;
    max-width: 60px;
    min-width: 60px;
}
.cart-body dd{
    overflow: hidden;
}
.cart-body .old-price,
.cart-body .price{
    float: left;
    letter-spacing: -1px;
    text-transform: uppercase;
    padding-top: 1px;
}
.cart-body .old-price{
    font-size: 12px;
    color: #b4b4b4;
    text-decoration: line-through;
}
.cart-body .price{
    font-size: 12px;
    color: #de7764;
}
.cart-body dd span{
    margin-left: 5px;
}
.cart-body dd span:first-child{
    margin-left: 0;
}
.cart-body dt,
.cart-body dd{
    padding-bottom: 3px;
    letter-spacing: -1px;
}
.cart-footer .view-all{
    display: block;
    font-size: 12px;
    color: #3e5879;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}
.button{
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    background: #de7764;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    padding: 6px;
    cursor: pointer;
}
.cart-footer .button{
    width: 100%;
}
.cart-footer .wrap-btn{
    padding: 11px;
}
.top-info{
    padding: 5px 0 7px;
}
.top-info:after{
    content: '';
    display: block;
    clear: both;
}
.top-info h1{
    float: right;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #3e5879;
    text-transform: uppercase;
    letter-spacing: -1px;
}
.dilivery-info:after{
    content: '';
    display: block;
}
.dilivery-info{
    float: left;
    padding-top: 7px;
}
.dilivery-info li{
    float: left;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #3e5879;
    text-transform: uppercase;
    margin-right: 25px;
    position: relative;
    letter-spacing: -1px;
}
.dilivery-info li:after{
    content: '';
    display: block;
    background: url(../images/sprites.png) -48px 0 no-repeat;
    width: 13px;
    height: 12px;
    float: left;
    margin-right: 6px;
}

.btn-mob-nav{
    background: #2B577B;
    width: 30px;
    height: 19px;
    position: absolute;
    right: -1px;
    top:25px;
    display: none;
    padding: 10px;
}
.btn-mob-nav span:first-child{
    margin-top: 0;
}
.btn-mob-nav span{
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 5px;
    background: #fff;
}
.mobile-nav-content-overley {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: pointer;
    display: none;
    height: 100%;
    left: 0;
    min-height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 29000;
}
.mobile-main-nav {
    height: 100%;
    right: -9999px;
    position: absolute;
    top: 0;
    z-index: 29001;
    border-left: 2px solid #2B577B;
    min-width: 240px;
    max-width: 340px;
    background: #fff;
    padding: 13px 23px 14px 17px;
}
.mobile-main-nav a{
    text-decoration: none;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #3e5879;
    padding: 7px 10px;
    display: block;
}
.mobile-main-nav a:hover{
    color: #88aea3;
}
.mobile-main-nav .drop{
    padding-left: 12px;
}
.show-hide-btn{
    background: url('../images/arrow-menu.png') no-repeat 8px 8px;
    cursor: pointer;
    display: block;
    height: 25px;
    position: absolute;
    right: -23px;
    top: 3px;
    width: 25px;
}
.mobile-main-nav li{
    position: relative;
}
.show-hide-btn.open{
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.mobile-main-nav .drop li{
    border-bottom:1px solid #2B577B;
}
.mobile-main-nav .drop .links:last-child{
    margin-bottom: 20px;
}
.mobile-main-nav.open .drop{
    display: none;
}
/* Middle
-----------------------------------------------------------------------------*/
.content {

}
.content-top{
    padding-bottom: 12px;
    overflow: hidden;
}
.promo-blocks{
    float: right;
}
.promo-blocks .item:first-child{
    margin-top: 0;
}
.promo-blocks .item{
    margin-top: 12px;
    max-height: 312px;
    overflow: hidden;
    position: relative;
}
.promo-blocks .item h2{
    font-size: 20px;
    padding: 3px 0 0 11px;
}
.promo-blocks .item-text{
    position: absolute;
    bottom: -70px;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
    width: 148px;
    height: 148px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    padding: 30px;
}
.promo-blocks .item.odd .item-text{
    background: #de7764;
    right: -46px;
}
.promo-blocks .item.even .item-text{
    background: #3e5879;
    left: -47px;
}
.promo-blocks .item.even strong{
    display: block;
    padding-left: 30px;
    line-height: 36px;
}
.promo-blocks .item.even strong:first-child{
    padding-top: 10px;
}
.promo-blocks img{
    max-width: 100%;
    width: 100%;
    display: block;
}
.promo-blocks a{
    text-decoration: none;
}
.wrap-slider{
    max-width: 960px;
    min-width: 150px;
    overflow: hidden;
    position: relative;
    padding-right: 12px;
}
.slider li{
    display: none;
}
.slider li.current{
    display: list-item;
    float: left;
    position: relative;
    width: 100%;
}
.slider li a{
    display: block;
}
.slider li img {
    max-width: 100%;
    width: 100%;
    display: block;
}
.slider-text{
    width: 240px;
    height: 175px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    z-index: 2;
    position: absolute;
    right: 15px;
    top: 15px;
    text-align: center;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #00a8b8;
    padding: 66px 30px 60px;
    text-transform: uppercase;
    overflow: hidden;
    line-height: 41px;
}
.pagination{
    position: absolute;
    left: 15px;
    bottom: 16px;
    height: 16px;
    z-index: 2;
}
.pagination li{
    float: left;
    text-indent: -9999px;
    white-space: nowrap;
    margin-right: 6px;
}
.pagination li a{
    width: 10px;
    height: 10px;
    border:3px solid #ffffff;
    background: transparent;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.pagination li.current a,
.pagination li:hover a{
    background: #fff;
}
.content-bottom{
    overflow: hidden;
    padding-bottom: 24px;
}
.content-bottom .social-block{
    overflow: hidden;
}
.social-block .item:first-child{
    margin-top: 0;
}
.social-block .item{
    margin-top: 12px;
    text-align: center;
    max-width: 312px;
    min-width: 312px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.social-block .item.odd{
    background: #f5dbdc;
    padding: 30px;
}
.social-block .odd .item-text{
    background: #fff;
    max-height: 252px;
    min-height: 252px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.social-block .even .item-text{
    padding-top: 19px;
}
.social-block .item.even{
    background: #3e5879;
    padding: 36px 24px 16px;
}
.social-block .item.even strong{
    font-size: 24px;
    color: #ffffff;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 30px;
}
.social-block .item.odd strong{
    font-size: 24px;
    color: #de7764;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 29px;
    display: block;
    padding-top: 68px;
}
.category-block{
    float: right;
    overflow: hidden;
}
.category-block .item{
    padding-left: 12px;
    position: relative;
    font-size: 36px;
    color: #ffffff;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    max-height: 636px;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.category-block .item a{
    color: #ffffff;
    display: block;
    text-decoration: none;
}
.category-block .item img{
    width: 100%;
    max-width: 100%;
    display: block;
}
.category-block .odd{
    float: left;
}
.category-block .even{
    float: right;
}
.category-block .item-text{
    width: 176px;
    height: 176px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -88px 0 0 -88px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
}
.category-block .item-text strong{
    display: block;
    line-height: 36px;
    padding: 51px 0 0 6px;
}
.category-block .odd .item-text{
    background: #00a8b8;
}
.category-block .even .item-text{
    background: #ff6c7e;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}
.subscribe-block{
    border-top: 3px solid #3e5879;
    border-bottom: 3px solid #3e5879;
    padding: 13px 0;
    overflow: hidden;
}
.subscribe-block strong{
    float: left;
    padding: 6px 22px 0 0;
    max-width: 475px;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    color: #3e5879;
    letter-spacing: -1px;
}
.subscribe-block form{
    overflow: hidden;
}
.subscribe-block .input-box{
    padding-right: 31px;
    overflow: hidden;
}
.subscribe-block input{
    padding: 10px 11px 9px;
    border:1px solid #b4b4b4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    -webkit-appearance: none;
    outline: none;
}
.subscribe-block button{
    float: right;
    border:none;
    background: #3e5879;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
    color: #ffffff;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 600;
    padding: 7px 19px 5px;
    text-transform: uppercase;
    letter-spacing: -1px;
    cursor: pointer;
}
.footer-links:after{
    content: '';
    display: block;
    clear: both;
}
.footer-links{
    padding: 20px 0 21px 0;
    border-bottom: 1px solid #3e5879;
}
.footer-links .item{
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 17%;
    margin-right: -1px;
    padding-right: 15px;
}
.footer-links .item:last-child{
    width: 15%;
}
.footer-links h2{
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #3e5879;
    display: block;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-bottom: 8px;
}
.footer-links li{
    padding-bottom: 2px;
}
.footer-links li a{
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #3e5879;
    text-decoration: none;
    letter-spacing: -1px;
    display: block;
}
.footer-links li a:hover{
    color: #88aea3;
}
.footer-links .show-hide-btn{
    display: none;
}
.payment ul:after{
    content: '';
    display: block;
    clear: both;
}
.payment li:first-child,
.payment .norton{
    margin-left: 0;
}
.payment li{
    float: left;
    margin-left: 6px;
}
.payment h2,
.follow h2{
    padding-bottom: 11px;
}
.follow ul:after{
    content: '';
    display: block;
    clear: both;
}
.follow li{
    float: left;
    margin: 0 0 4px 6px;
}
.follow li:first-child,
.follow li.yt{
    margin-left: 0;
}
.follow li.yt{
    clear: both;
}
.follow li a{
    width: 32px;
    height: 32px;
    display: block;
}
.fb a{
    background: url(../images/sprites.png) 0 -21px;
}
.fb a:hover{
    background: url(../images/sprites.png) 0 -53px;
}
.pt a{
    background: url(../images/sprites.png) -32px -21px;
}
.pt a:hover{
    background: url(../images/sprites.png) -32px -53px;
}
.in a{
    background: url(../images/sprites.png) -64px -21px;
}
.in a:hover{
    background: url(../images/sprites.png) -64px -53px;
}
.yt a{
    background: url(../images/sprites.png) -96px -21px;
}
.yt a:hover{
    background: url(../images/sprites.png) -96px -53px;
}
.footer-copy{
    padding: 20px 0;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #3e5879;
}
.footer-copy:after{
    content: '';
    display: block;
    clear: both;
}
.copy{
    float: left;
    letter-spacing: -1px;
    margin-right: 14px;
}
.share-block{
    float: left;
    margin-right: 12px;
}
.copy-links{
    float: right;
    overflow: hidden;
}
.copy-links li:first-child{
    margin-left: 0;
}
.copy-links li:first-child:after{
    display: none;
}
.copy-links li{
    float: left;
    margin-left: 22px;
    position: relative;
}
.copy-links li:after{
    content: '';
    display: block;
    background: url(../images/sprites.png) -63px 0 no-repeat;
    width: 6px;
    height: 6px;
    position: absolute;
    left: -15px;
    top: 6px;
}
.copy-links a{
    color: #3e5879;
    text-decoration: none;
    letter-spacing: -1px;
}
.copy-links a:hover{
    color: #88aea3;
}

/*begin media*/

@media only screen and (max-width:970px) {
    .social-block .item.odd strong {
        font-size: 21px;
        line-height: 26px;
        padding-top: 55px;
    }

    .social-block .odd .item-text {
        min-height: 222px;
    }
}
@media only screen and (max-width:940px) {
    .category-block{
        float: none;
    }
    .category-block .item{
        width: 49.2%;
        padding: 0;
    }
    .social-block .item:first-child{
        margin-top: 12px;
    }
    .social-block .odd .item-text{
        min-height: 252px;
    }
    .social-block .item.odd strong {
        font-size: 24px;
        line-height: 29px;
        padding-top: 68px;
    }
    .social-block .item.odd{
        float: left;
    }
    .social-block .item.even{
        float: right;
    }
}
@media only screen and (max-width:890px) {
    .slider-text{
        font-size: 18px;
        height: 75px;
        line-height: 28px;
        padding: 48px 18px 60px;
        width: 156px;
    }
}
@media only screen and (max-width:830px) {
    .top-menu .drop-menu{
        width: 420px;
    }
    .top-menu .drop .links:last-child{
        float: none;
        clear: both;
        padding: 15px 2px 15px 23px;
    }
}
@media only screen and (max-width:770px) {
    .subscribe-block strong{
        float: none;
        padding: 0px 22px 10px 0;
        display: block;
    }
}
@media only screen and (max-width:675px) {
    .promo-blocks{
        float: none;
        padding-bottom: 12px;
    }
    .wrap-slider{
        padding-right: 0;
    }
    .social-block .item.odd,
    .social-block .item.even{
        float: none;
    }
    .social-block .item{
        margin: 12px auto 0;
        min-width: 280px;
    }
    .footer-links .item,
    .footer-links .item:last-child{
        float: none;
        width: 100%;
        margin: 0 0 10px 0;
        padding: 0;
    }
    .footer-links .item:last-child{
        margin-bottom: 0;
    }
    .footer-links h2{
        float: left;
        cursor: pointer;
        padding-bottom: 0;
    }
    .footer-links .show-hide-btn {
        display: block;
        float: left;
        margin-left: 20px;
        position: static;
        background-position: 8px 5px;
    }
    .footer-links .title{
        overflow: hidden;
    }
    .footer-links ul{
        display: none;
    }
    .follow li.yt{
        clear: none;
        margin-left: 6px;
    }
    .payment li{
        float: none;
        display: inline-block;
        vertical-align: middle;
    }
    .footer-links .item li{
        padding-left: 10px;
    }
    .copy,
    .share-block{
        margin-bottom: 10px;
    }
}
@media only screen and (max-width:620px) {
    .btn-mob-nav{
        display: block;
    }
    .top-menu{
        display: none;
    }
    .header-left{
        float: none;
    }
}
@media only screen and (max-width:480px) {
    .category-block .item{
        font-size: 23px;
    }
    .category-block .item-text{
        height: 120px;
        margin: -58px 0 0 -60px;
        width: 120px;
    }
    .category-block .item-text strong {
        padding: 33px 0 0 6px;
        line-height: 30px;
    }
    .dilivery-info li{
        margin: 0;
    }
    @media only screen and (max-width:350px) {
        .mini-cart-drop,
        .account-drop,
        .top-search .input-box{
            width: 278px;
        }
        .cart-body .content-box{
            width: 140px;
        }
        .cart-body dd span{
            margin-left: 0;
        }
        .top-search input{
            width: 75%;
        }
    }
}


/*end media*/